/* Marquee 動畫 */
@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@layer utilities {
  .animate-marquee-left {
    animation: marquee-left linear infinite;
  }

  .animate-marquee-right {
    animation: marquee-right linear infinite;
  }
}
